*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding-left: 110px;
    background-color: #ffffff;
}

.active {
    position: relative;
    background-color:white;
    box-shadow: 0 15px 0 #04B1D8;
}

.jumbotron{
    height: 550px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("./images/BackgroundHeaderHome.png");
    background-size: cover;
}

#header {
    margin-top: 30px;
}

.Thinking-out-of-the-box {
    margin-left: 100px;
    margin-bottom: -1px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -0.36px;
    color: #ffffff;
    font-family: "Montserrat";
}

#rectangle {
    width: 25px;
    height: 8px;
    margin-left: 100px;
}

#play-video-button {
    width: 50px;
    height: 30px;
    text-align: right;
    color: #ffffff
}

#play-video-text {
    margin-top: -10px;
    font-family: "Montserrat";
    font-size: 9px;
    line-height: 0.75;
    color: #ffffff;
}

.smart-and-innovative{
    margin-left: 100px;
    margin-top: -20px;
    font-family: "Montserrat";
    font-size: 10px;
    letter-spacing: 3.5px;
    color: #ffffff;
}

#header-rectangles {
    margin-top: 180px;
    margin-bottom: 100px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#first-header-rectangle{
    width: 200px; 
    height: 200px;
    background-image: linear-gradient(rgba(0, 163, 204,0.7), rgba(0, 163, 204,0.7)), url("./images/HeaderImage1.png"); 
    background-repeat: no-repeat;
}

#second-header-rectangle{
    width: 200px; 
    height: 200px;
    margin-top: 40px;
    background-image: linear-gradient(rgba(37, 77, 116,0.5), rgba(37, 77, 116,0.5)), url("./images/HeaderImage2.png");
    background-repeat: no-repeat;
}

#third-header-rectangle{
    width: 200px; 
    height: 200px;
    background-image: linear-gradient(rgba(0, 163, 204,0.7), rgba(0, 163, 204,0.7)), url("./images/HeaderImage3.png");
    background-repeat: no-repeat;
}

#fourth-header-rectangle{
    width: 200px; 
    height: 200px;
    margin-top: 40px;
    background-image: linear-gradient(rgba(37, 77, 116,0.5), rgba(37, 77, 116,0.5)), url("./images/HeaderImage4.png");
    background-repeat: no-repeat;
}

#aviation{
    margin-top: 120px;
    position: absolute;
}

#aviation-homepage{
    height: 10px;
}

#aviation-blue-rectangle{
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #0285b7;
}

#aviation-homepage-image{
    height: 647px;
    box-shadow: 0px -1px 15px 0 rgba(13, 12, 12, 0.25);
    background-color: #0285b7;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("./images/AviationImageHome.png");
}

#container-aviation-homepage{
    height: 350px;
    width: 300px;
}

.h1-aviation-homepage{
    font-family: Montserrat;
    font-size: 29px;
    font-weight: bold;
    line-height: 3;
    letter-spacing: 0.15px;
    color: #ffffff;
}

#aviation-rectangle{
    width: 25px;
    height: 8px;
    margin-top: -50px;
}

.h3-aviation-homepage{
    margin-top: 30px;
    font-family: Montserrat;
    font-size: 13px;
    color: rgba(244, 244, 243, 0.7);
}

#h3-sms-development-aviation-homepage{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

#white-square-homepage{
    width: 10px;
    height: 10px;
    margin-left: -25px;
    margin-right: 13px;
}

#sms-development-text{
    width: 500px;
    margin-left: 50px;
    margin-top: 300px;
}

#title-aviation-image-text{
    font-family: Montserrat;
    font-size: 24.5px;
    font-weight: bold;
    color: #ffffff;
}

#aviation-image-text{
    font-family: Montserrat;
    font-size: 16.5px;
    line-height: 1.33;
    text-align: justify;
    color: rgba(244, 244, 243, 0.7);
}

#button-read-more{
    width: 164px;
    height: 49px;
    font-family: Montserrat;
    font-size: 16.5px;
    font-weight: 500;
    line-height: 1.06;
    letter-spacing: -0.17px;
    border-radius: 0.1px;
    background-color: #f4f4f3
}

#legal-section{
    position: absolute;
    margin-top: 800px;
}

#icon-legal-home{
    width: 90px;
    height: 100px;
    margin-bottom: 40px;
}

.h3-legal{
    font-family: Montserrat;
    font-size: 29px;
    font-weight: bold;
    line-height: 2.33;
    letter-spacing: 0.15px;
    text-align: center;
    color: #191919;
}

#h3-legal-underline{
    margin-top: 120px;
    margin-left: -60px;
    margin-bottom: 50px;
}

#p-iconlegal-description{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.08px;
    color: #191919;
}

#blue-upright-rectangle{
    height: 150px;
    margin-top: 30px;
}

#training{
    margin-top: 1300px;
}

#training-homepage-image{
    height: 647px;
    box-shadow: 0px -1px 15px 0 rgba(13, 12, 12, 0.25);
    background-color: #0285b7;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("./images/TrainingImageHome.png");
}

#training-homepage{
    height: 10px;
}

#training-blue-rectangle{
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #0285b7;
}

#container-training-homepage{
    height: 350px;
    width: 300px;
}

.h1-training-homepage{
    font-family: Montserrat;
    font-size: 29px;
    font-weight: bold;
    line-height: 3;
    letter-spacing: 0.15px;
    color: #ffffff;
}

#training-rectangle{
    width: 25px;
    height: 8px;
    margin-top: -50px;
}

.h3-training-homepage{
    margin-top: 30px;
    font-family: Montserrat;
    font-size: 15px;
    color: rgba(244, 244, 243, 0.7);
}

#h3-coaching-training-homepage{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

#white-square-homepage{
    width: 10px;
    height: 10px;
    margin-left: -25px;
    margin-right: 13px;
}

#coaching-text{
    text-align: right;
    width: 500px;
    margin-left: 700px;
    margin-top: 300px;
}

#title-training-image-text{
    font-family: Montserrat;
    font-size: 24.5px;
    font-weight: bold;
    color: #ffffff;
}

#training-image-text{
    font-family: Montserrat;
    font-size: 16.5px;
    line-height: 1.33;
    text-align: justify;
    color: rgba(244, 244, 243, 0.7);
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) { 
    #logo {
        margin-top: -13px;
    }
    #aviation {
        margin-top: 300px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
    #logo {
        margin-top: -13px;
        margin-left: 15px;
    }
    #aviation-homepage-image{
        margin-top: -40px;
    }
    .h3-aviation-homepage{
        margin-top: 70px;
    }
    #legal-section{
        margin-top: 1350px;
    }
    #training{
        margin-top: 2000px;
    }
    #training-blue-rectangle{
        margin-top: -50px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1200px) {
}
