*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Start home.html */
/* Start Navbar section */
.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding-left: 110px;
    background-color: #ffffff;
}

.active {
    position: relative;
    background-color:white;
    box-shadow: 0 15px 0 #04B1D8;
}
/* End Navbar section */
/* Start Header section */
.jumbotron{
    height: 550px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("./images/BackgroundHeaderHome.png");
    background-size: cover;
}

#header {
    margin-top: 30px;
}

.Thinking-out-of-the-box {
    margin-left: 100px;
    margin-bottom: -1px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -0.36px;
    color: #ffffff;
    font-family: "Montserrat";
}

#rectangle {
    width: 25px;
    height: 8px;
    margin-left: 100px;
}

#play-video-button {
    width: 50px;
    height: 30px;
    text-align: right;
    color: #ffffff
}

#play-video-text {
    margin-top: -10px;
    font-family: "Montserrat";
    font-size: 9px;
    line-height: 0.75;
    color: #ffffff;
}

.smart-and-innovative{
    margin-left: 100px;
    margin-top: -20px;
    font-family: "Montserrat";
    font-size: 10px;
    letter-spacing: 3.5px;
    color: #ffffff;
}

#header-rectangles {
    margin-top: 180px;
    margin-bottom: 100px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#first-header-rectangle{
    width: 200px; 
    height: 200px;
    background-image: linear-gradient(rgba(0, 163, 204,0.7), rgba(0, 163, 204,0.7)), url("./images/HeaderImage1.png"); 
    background-repeat: no-repeat;
}

#second-header-rectangle{
    width: 200px; 
    height: 200px;
    margin-top: 40px;
    background-image: linear-gradient(rgba(37, 77, 116,0.5), rgba(37, 77, 116,0.5)), url("./images/HeaderImage2.png");
    background-repeat: no-repeat;
}

#third-header-rectangle{
    width: 200px; 
    height: 200px;
    background-image: linear-gradient(rgba(0, 163, 204,0.7), rgba(0, 163, 204,0.7)), url("./images/HeaderImage3.png");
    background-repeat: no-repeat;
}

#fourth-header-rectangle{
    width: 200px; 
    height: 200px;
    margin-top: 40px;
    background-image: linear-gradient(rgba(37, 77, 116,0.5), rgba(37, 77, 116,0.5)), url("./images/HeaderImage4.png");
    background-repeat: no-repeat;
}
/* End Header section */
/* Start Aviation-Homepage section */
#aviation{
    margin-top: 120px;
    position: absolute;
}

#aviation-homepage{
    height: 10px;
}

#aviation-blue-rectangle{
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #0285b7;
}

#aviation-homepage-image{
    height: 647px;
    box-shadow: 0px -1px 15px 0 rgba(13, 12, 12, 0.25);
    background-color: #0285b7;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("./images/AviationImageHome.png");
}

#container-aviation-homepage{
    height: 350px;
    width: 300px;
}

.h1-aviation-homepage{
    font-family: Montserrat;
    font-size: 29px;
    font-weight: bold;
    line-height: 3;
    letter-spacing: 0.15px;
    color: #ffffff;
}

#aviation-rectangle{
    width: 25px;
    height: 8px;
    margin-top: -50px;
}

.h3-aviation-homepage{
    margin-top: 30px;
    font-family: Montserrat;
    font-size: 13px;
    color: rgba(244, 244, 243, 0.7);
}

#h3-sms-development-aviation-homepage{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

#white-square-homepage{
    width: 10px;
    height: 10px;
    margin-left: -25px;
    margin-right: 13px;
}

#sms-development-text{
    width: 500px;
    margin-left: 50px;
    margin-top: 300px;
}

#title-aviation-image-text{
    font-family: Montserrat;
    font-size: 24.5px;
    font-weight: bold;
    color: #ffffff;
}

#aviation-image-text{
    font-family: Montserrat;
    font-size: 16.5px;
    line-height: 1.33;
    text-align: justify;
    color: rgba(244, 244, 243, 0.7);
}

#button-read-more{
    width: 164px;
    height: 49px;
    font-family: Montserrat;
    font-size: 16.5px;
    font-weight: 500;
    line-height: 1.06;
    letter-spacing: -0.17px;
    border-radius: 0.1px;
    background-color: #f4f4f3
}
/* End Aviation-Homepage section */
/* Start Legal section */
#legal-section{
    position: absolute;
    margin-top: 800px;
}

#icon-legal-home{
    width: 90px;
    height: 100px;
    margin-bottom: 40px;
}

.h3-legal{
    font-family: Montserrat;
    font-size: 29px;
    font-weight: bold;
    line-height: 2.33;
    letter-spacing: 0.15px;
    text-align: center;
    color: #191919;
}

#h3-legal-underline{
    margin-top: 120px;
    margin-left: -60px;
    margin-bottom: 50px;
}

#p-iconlegal-description{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.08px;
    color: #191919;
}

#blue-upright-rectangle{
    height: 150px;
    margin-top: 30px;
}
/* End Legal section */
/* Start Training-Homepage section */
#training{
    margin-top: 1300px;
}

#training-homepage-image{
    height: 647px;
    box-shadow: 0px -1px 15px 0 rgba(13, 12, 12, 0.25);
    background-color: #0285b7;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("./images/TrainingImageHome.png");
}

#training-homepage{
    height: 10px;
}

#training-blue-rectangle{
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #0285b7;
}

#container-training-homepage{
    height: 350px;
    width: 300px;
}

.h1-training-homepage{
    font-family: Montserrat;
    font-size: 29px;
    font-weight: bold;
    line-height: 3;
    letter-spacing: 0.15px;
    color: #ffffff;
}

#training-rectangle{
    width: 25px;
    height: 8px;
    margin-top: -50px;
}

.h3-training-homepage{
    margin-top: 30px;
    font-family: Montserrat;
    font-size: 15px;
    color: rgba(244, 244, 243, 0.7);
}

#h3-coaching-training-homepage{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

#white-square-homepage{
    width: 10px;
    height: 10px;
    margin-left: -25px;
    margin-right: 13px;
}

#coaching-text{
    width: 500px;
    margin-left: 700px;
    margin-top: 300px;
}

#title-training-image-text{
    font-family: Montserrat;
    font-size: 24.5px;
    font-weight: bold;
    color: #ffffff;
}

#training-image-text{
    font-family: Montserrat;
    font-size: 16.5px;
    line-height: 1.33;
    text-align: justify;
    color: rgba(244, 244, 243, 0.7);
}
/* End Training-Homepage section */
/* Start Team section */
#team{
    margin-top: 750px;
    margin-left: 100px;
}

.h1-team-homepage{
    font-family: Montserrat;
    font-size: 29px;
    font-weight: bold;
    line-height: 2.33;
    letter-spacing: 0.15px;
    text-align: left;
    color: #191919;
}

#team-rectangle{
    margin-top: -40px;
}

.h3-team-text{
    font-family: Montserrat;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.08px;
    text-align: left;
    color: rgba(0,0,0,0.5);
}

#team-image{
    width: 234px;
    height: 235px;
    box-shadow: 0px -1px 15px 0 rgba(13, 12, 12, 0.12);
}

#col-margin{
    margin-left: -170px;
}

#figcaption-normal-text{
    font-family: Montserrat;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.08px;
    text-align: left;
    color: rgba(0,0,0,0.6);
}

#figcaption-bold-text{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.08px;
    text-align: left;
    color: #191919;
}
/* End Team section */
/* Start Footer section */
#footer{
    padding: 40px 10px 40px 300px;
    background-color: #273f4b;
}

.references{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.references a{
    padding-right: 20px;
    text-decoration: none;
    color: #ffffff;
}

.icons-footer{
    margin-top: -10px;
    display: flex;
    text-align: center;
}

.icons-footer a{
    text-decoration: none;
    color: #ffffff;
}

.address{
    margin-top: -15px;
    font-family: Montserrat;
    font-size: 11.5px;
    line-height: 1.91;
    text-align: left;
    color: #ffffff;
}

.contact{
    margin-top: -10px;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    color: #f4f4f3;
}

#copyright-artneo-footer{
    padding-top: 20px;
}

#copyright-footer{
    padding-left: 45px;
    font-family: Montserrat;
    font-size: 13.5px;
    line-height: 1;
    letter-spacing: 0.07px;
    text-align: left;
    color: #a3a9ad; 
}

#artneo-footer{
    padding-left: 60px;
    font-family: Montserrat;
    font-size: 13.5px;
    line-height: 1;
    letter-spacing: 0.07px;
    text-align: left;
}

#artneo-footer a{
    text-decoration: none;
    color: #a3a9ad;
}

#first-footer-rectangle{
    width: 2px;
    height: 69px;
    margin-top: -20px;
    margin-left: -30px;
    margin-right: 20px;
    opacity: 0.2;
    color: #a3a9ad;
}

#second-footer-rectangle{
    width: 2px;
    height: 69px;
    margin-top: -20px;
    margin-right: 50px;
    margin-left: 45px;
    opacity: 0.2;
    color: #a3a9ad;
}

#third-footer-rectangle{
    width: 2px;
    height: 69px;
    margin-top: -20px;
    margin-right: 20px;
    margin-left: -80px;
    opacity: 0.2;
    color: #a3a9ad;
}
/* End Footer section */
/* End home.html */

/* Start aviation.html */
/* Start Header Section */
#aviation-header{
    height: 256px;
    background-color: #04b1d8;
}

.sms-development-aviation{
    position: absolute;
    margin-top: 50px;
    margin-left: 130px;
}

.title-header-aviation-page{
    margin-bottom: -10px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.19;
    text-align: left;
    color: #ffffff;
}

.text-header-aviation-page{
    margin-top: 20px;
    font-family: Montserrat;
    font-size: 16.5px;
    font-weight: bold;
    line-height: 1.82;
    text-align: justify;
    color: #ffffff;
}

#image-menu-aviation-page{
    width: 411px;
    height: 800px;
    position: absolute;
    margin-left: 180px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("./images/SubpageImage.png");
    background-repeat: no-repeat;
}

.title-image-aviation-page{
    padding-top: 260px;
    padding-left: 30px;
    font-family: Montserrat;
    font-size: 35.5px;
    font-weight: bold;
    line-height: 0.85;
    text-align: left;
    color: #f4f4f3;
}

#menu-aviation-page{
    width: 411px;
    height: 479px;
    margin-top: 30px;
    padding-top: 50px;
    margin-left: -15px;
    padding-left: 30px;
    opacity: 0.5;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 1;
    text-align: left;
    background-color: #ffffff;
}

.clicked-menu-aviation-page{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    color: #191919;
}

#blue-square-menu-aviation-page{
    margin-right: 20px;
    margin-left: -30px;
    width: 11px;
    height: 10px;
}

.text-aviation-page{
    margin-top: 60px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.71;
    text-align: justify;
    color: rgba(0,0,0,0.7);
}

#table-aviation-page{
    width: 850px;
    margin-top: 550px;
    margin-left: 115px;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 2;
    text-align: justify;
    color: #191919;
}
/* End Header Section */
/* Start Footer Section */
#footer-aviation-page{
    margin-top: 544px;
    padding: 40px 10px 40px 300px;
    background-color: #273f4b;
}
/* End Footer Section */
/* End aviation.html */

/* Start contact.html */
/* Start Header Section */
#contact-header{
    height: 256px;
    background-color: #04b1d8;
}

#image-menu-contact-page{
    width: 411px;
    height: 800px;
    position: absolute;
    margin-left: 180px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("./images/ContactImage.png");
    background-repeat: no-repeat;
}

.title-image-contact-page{
    padding-top: 260px;
    padding-left: 30px;
    font-family: Montserrat;
    font-size: 35.5px;
    font-weight: bold;
    line-height: 0.85;
    text-align: left;
    color: #f4f4f3;
}

#menu-contact-page{
    width: 411px;
    height: 479px;
    margin-top: 30px;
    padding-top: 50px;
    margin-left: -15px;
    padding-left: 30px;
    opacity: 0.5;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 1;
    text-align: left;
    background-color: #ffffff;
}

.firm-name-menu-contact-page{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    text-align: left;
    color: rgba(25, 25, 25, 0.7);
}

.address-menu-contact-page{
    font-family: Montserrat;
    font-size: 18px;
    line-height: 1.33;
    text-align: left;
    color: #999999;
}

.phone-email-word-menu-contact-page{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    color: rgba(25, 25, 25, 0.7);
}

.phone-number-menu-contact-page{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    color: #191919;
}

.email-address-menu-contact-page{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    text-align: left;
    color: #191919;
}

.contact-page{
    position: absolute;
    margin-top: 100px;
    margin-left: 130px;
}

.title-header-contact-page{
    margin-bottom: -10px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.19;
    text-align: left;
    color: #ffffff;
}

.text-header-contact-page{
    margin-top: 20px;
    font-family: Montserrat;
    font-size: 16.5px;
    font-weight: bold;
    line-height: 1.82;
    text-align: justify;
    color: #ffffff;
}
/* End Header Section */
/* Start Form Section */
#form-contact-page{
    width: 850px;
    margin-top: 300px;
    margin-left: 115px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
}

input[type=text],[type=email],[type=tel]{
    height: 50px;
    padding-left: 20px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
    color: #6e6e6e;
    border: none;
    border-radius: 0px;
    background-color: #e9e9e9;    
}

input[type=textarea]{
    height: 110px;
    padding-bottom: 70px;
    padding-left: 20px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
    color: #6e6e6e;
    border: none;
    border-radius: 0px;
    background-color: #e9e9e9;
}

.checkbox-form-contact-page { 
    display: block; 
    position: relative; 
    padding-left: 45px; 
    margin-bottom: 15px; 
    cursor: pointer; 
    font-size: 20px; 
} 
 
input[type=checkbox] { 
    visibility: hidden; 
} 

.custom-checkbox-form-contact-page {
    position: absolute;
    margin-top: 5px;
    margin-left: -20px; 
    top: 0; 
    left: 0; 
    width: 15px;
    height: 16px;
    background-color: #e9e9e9; 
} 

.custom-checkbox-form-contact-page:after { 
    content: ""; 
    position: absolute; 
    display: none; 
} 
  
.checkbox-form-contact-page input:checked ~ .custom-checkbox-form-contact-page:after { 
    display: block; 
} 

.checkbox-form-contact-page .custom-checkbox-form-contact-page:after { 
    left: 5px; 
    bottom: 4px; 
    width: 6px; 
    height: 11px; 
    border: solid black; 
    border-width: 0 2px 2px 0; 
    transform: rotate(45deg); 
} 

#text-next-to-checkbox-form-contact-page{
    padding-left: 20px;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 300;
    text-align: justify;
    color: #6e6e6e;
}

.button-form-contact-page{
    width: 249px;
    height: 49px;
    padding-right: 20px;
    margin-left: 575px;
    border: none;
    font-family: Montserrat;
    font-size: 16.5px;
    font-weight: 500;
    line-height: 1.06;
    letter-spacing: -0.17px;
    text-align: right;
    color: #ffffff;
    background-color: #04b1d8;
}
/* End Form Section */
/* Start Footer Section */
#footer-contact-page{
    margin-top: 544px;
    padding: 40px 10px 40px 300px;
    background-color: #273f4b;
}
/* End Footer Section */
/* End contact.html */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) { 
    #logo {
        margin-top: -13px;
    }
    #aviation {
        margin-top: 300px;
    }
    #team{
        margin-top: 1000px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
    #logo {
        margin-top: -13px;
        margin-left: 15px;
    }
    #aviation-homepage-image{
        margin-top: -40px;
    }
    .h3-aviation-homepage{
        margin-top: 70px;
    }
    #legal-section{
        margin-top: 1350px;
    }
    #training{
        margin-top: 2000px;
    }
    #training-blue-rectangle{
        margin-top: -50px;
    }
    #team{
        margin-top: 1000px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1200px) {
}
