*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding-left: 110px;
    background-color: #ffffff;
}

.active {
    position: relative;
    background-color:white;
    box-shadow: 0 15px 0 #04B1D8;
}

.jumbotron{
    height: 550px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("./images/BackgroundHeaderHome.png");
    background-size: cover;
}

#header {
    margin-top: 30px;
}

.Thinking-out-of-the-box {
    margin-left: 100px;
    margin-bottom: -1px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -0.36px;
    color: #ffffff;
    font-family: "Montserrat";
}

#rectangle {
    width: 25px;
    height: 8px;
    margin-left: 100px;
}

#play-video-button {
    width: 50px;
    height: 30px;
    text-align: right;
    color: #ffffff
}

#play-video-text {
    margin-top: -10px;
    font-family: "Montserrat";
    font-size: 9px;
    line-height: 0.75;
    color: #ffffff;
}

.smart-and-innovative{
    margin-left: 100px;
    margin-top: -20px;
    font-family: "Montserrat";
    font-size: 10px;
    letter-spacing: 3.5px;
    color: #ffffff;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    #logo {
        margin-top: -13px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    #logo {
        margin-top: -13px;
        margin-left: 15px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
